body {
  margin: 0;
  font-family: "Inter"; 
  background-color: #043e80;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #043873;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo-title {
  font-weight: 700;
}

.nav-links ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.login-btn, .try-btn {
  margin-left: 10px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background-color: #007bff;
  color: white;
}

.try-btn {
  background-color: #FFE492;
  color: black;
}